*{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.jumbotron {
    text-align: center;
    padding: 0.5em 0.6em;
    color: rgb(5, 63, 5);
    opacity: .85;
    background-color: sienna;
}

.btn {
    color: greenyellow;
    border: 3px solid whitesmoke;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(128, 57, 10);
    font-size: 12pt;
}

.answer:hover {
    background: rgb(124, 218, 152);
}

body {
    background: url("images/30.jpg") no-repeat top center fixed;
    background-size: cover;
    color: whitesmoke;
    text-align: center;
}